.login__block {
  height: 230px;
  width: 100%;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

.login__error {
  color: red;
  width: 100%;
  padding: 5px;
}

.signup__block {
  width: 100%;
  margin-top: 50vh;
  transform: translate(0, -50%);
}

.info__block {
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 50vh;
  transform: translate(0, -50%);
  height: 140px;
}

.auth {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: $login-background-color;

  .auth--form {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    transition: all 2s linear;

    &.right {
      transform: translateX(0, 50vh);
      left: 50vw;
    }
  }
  .auth--info {
    width: 50vw;
    height: 100vh;
    background-color: $auth-background-color;

    position: absolute;
    left: 0;
    transition: all 2s linear;

    &.right {
      transform: translateX(0, -50vh);
      left: 50vw;
    }
    > .ant-rowp {
      width: 100%;
      display: block;
      background-color: red;
    }
  }
}
