.dashboard__card {
  color: white;

  > .ant-card-head {
    color: white;
  }

  &--income {
    background-color: green;
  }
  &--expensive {
    background-color: red;
  }
  &--profit {
    background-color: blue;
  }
}
