.dashboard__card {
  color: white;

  > .ant-card-head {
    color: white;
  }

  &--income {
    background-color: $income-card-background-color;
  }
  &--expensive {
    background-color: $expense-card-background-color;
  }
  &--profit {
    background-color: $profit-card-background-color;
  }
}

.dashboard__chart {
  height: 500px;
  padding: 50px 100px;
}
