.main-layout__header {
  padding: 0;
}

.header--buttons {
  float: right;
  padding-right: 10px;
}

.main-layout__content {
  margin: 24px 16px;
  padding: 24px;
  min-height: calc(100vh - 112px);
}

.sidebar__logo {
  height: 62px;
}
