// Login
$login-background-color: #f0f2f5;
$login-button-background-color: #001529;
$login-button-color: #f0f2f5;

//Signup
$signup-background-color: #f0f2f5;

//Auth
$auth-background-color: #001529;

//Dashboard
$income-card-background-color: #1890ff;
$expense-card-background-color: #ff4d4f;
$profit-card-background-color: #52c41a;

//Radio Button
$radio-button-background-color: #40a9ff;
$radio-button-background-color-active: #096dd9;
